<br>
<div class="card">
    <div class="row">
        <div class="col-md-6 mx-auto mt-5">
            <form #vehicleForm="ngForm" (ngSubmit)="updateVehicle(vehicleForm.value)">
                <div class="form-group">
                    <h3>Información del vehículo.</h3>
                    <br>
                    <label for="type"><strong>Tipo de vehículo</strong></label>
                    <input type="text" [(ngModel)]="vehicle.type" class="form-control" name="type" require="true">
                    <br>
                        <br>
                    
                    <label for="brand"><strong>Marca</strong></label>
                    <input type="text" [(ngModel)]="vehicle.brand" class="form-control" name="brand" require="true">
                        <br>
            
                    <label for="model"><strong>Modelo</strong></label>
                    <input type="number" [(ngModel)]="vehicle.model" class="form-control" name="model" require="true">
                        <br>
            
                    <label for="license_plate"><strong>Placa</strong></label>
                    <input type="text" [(ngModel)]="vehicle._id" class="form-control"   name="_id" require="true">
                        <br>
            
                    <label for="vehicle"><strong>Propietario del vehículo</strong></label>
                    <input type="text" [(ngModel)]="vehicle.owners" class="form-control"  name="owners" require="true">
                    <button type="button" id="addvehicle" class="btn btn-primary btn-sm">Agregar otro propietario</button>
                        <hr>
                    <button type="submit" class="btn btn-success btn-sm">Actualizar vehículo</button>
                    <button class="btn btn-danger btn-sm ml-5" routerLink="/tasks">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
