<div class="col-sm-12 mx-auto mt-5">
    <div class="card">        
        <div class="container">
            <h3 class="mt-4 text-uppercase text-center">Formulario de registro de empleado</h3>
            <hr>
            <form [formGroup]="formCreateEmployee" (ngSubmit)="registerEmployee(formCreateEmployee.value)">
                <div class="form-group">
                    <h3 class="text-center">Información del empleado</h3>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <label for="photo"><strong>Foto del empleado</strong></label>
                            <input type="file" formControlName="photo" class="form-control" id="photo" accept=".jpg, .png, .jpeg, .gif">
                            <br>

                            <label for="_id"><strong>Número de identificación del empleado</strong></label>
                            <input formControlName="_id" type="text" class="form-control" id="_id" placeholder="Ingrese el número de identificación del empleado" required="true">
                                <div *ngIf="formCreateEmployee.get('_id').hasError('required') && formCreateEmployee.get('_id').touched"></div>
                            <br>

                            <label for="userID"><strong>UserID del empleado</strong></label>
                            <input type="text" formControlName="userID" class="form-control" id="userID" placeholder="Ingrese el userID del empleado" required="true">
                            <br>

                            <label for="user"><strong>Usuario del empleado</strong></label>
                            <input type="text" formControlName="user" class="form-control" id="user" placeholder="Ingrese el usuario del empleado" required="true">
                            <br>

                            <label for="email"><strong>Email del empleado</strong></label>
                            <input type="text" formControlName="email" class="form-control" id="email" placeholder="Ingrese el email del empleado" required="true">
                            <br>                         

                        </div>
                        <div class="col">
                            <label for="fname"><strong>Nombre del empleado</strong></label>
                            <input type="text" formControlName="fname" class="form-control" id="fname" placeholder="Ingrese el nombre del empleado" required="true">
                            <br>   

                            <label for="lname"><strong>Apellidos del empleado</strong></label>
                            <input type="text" formControlName="lname" class="form-control" id="lname" placeholder="Ingrese los apellidos del empleado" required="true">
                            <br>

                            <label for="cellphone"><strong>Celular del empleado</strong></label>
                            <input type="text" formControlName="cellphone" class="form-control" id="cellphone" placeholder="Ingrese el celular del empleado" required="true">
                            <br>

                            <label for="landline"><strong>Teléfono fijo del empleado</strong></label>
                            <input type="text" formControlName="landline" class="form-control" id="landline" placeholder="Ingrese el teléfono del empleado" required="true">
                            <br>

                            <label for="role"><strong>Seleccione el rol del empleado</strong></label>
                            <select formControlName="role" class="custom-select mr-sm-2 form-control" name="rolOfEmployee" id="role" required="true">
                                <option *ngFor="let role of roles" id="{{role}}" value="{{role}}">{{role}}</option>
                            </select>
                            <br>
                            <br>

                            <label for="profileStatus"><strong>Estado del perfil del empleado</strong></label>
                            <select formControlName="profileStatus" class="custom-select mr-sm-2 form-control" name="statusOfEmployee" id="profileStatus" required="true">
                                <option *ngFor="let status of profileStatus" id="{{status}}" value="{{status}}">{{status}}</option>
                            </select>

                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <a class="btn btn-danger" routerLink="/manager/profile">Cancelar registro</a>
                    <button class="btn btn-success" type="submit" [disabled]="formCreateEmployee.invalid">Registrar empleado</button>
                </div>                
                <hr>
            </form>          
        </div>
    </div>
</div>
