<div class="row">
    <div class="col-md-12 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <div>
                    <h3 class="text-center">Cotización del vehiculo <strong>{{placa}}</strong> </h3>
                    <hr>
                    <div class="form-group text-uppercase">
                        <h5 class="text-center">Informacion del vehículo</h5>
                        <br>
                        <div class="row">
                            <div class="col">
                                <label><strong>Placa : &nbsp;</strong></label>
                                <label>{{placa}}</label>
                                <br>

                                <label><strong>Marca : &nbsp;</strong></label>
                                <label>{{brand}}</label>
                                <br>

                                <label><strong>Tipo de vh : &nbsp;</strong></label>
                                <label>{{type}}</label>
                                <br>

                                <label><strong>Color : &nbsp;</strong></label>
                                <label>{{color}}</label>
                                <br>
                            </div>
                            <div class="col">                            

                                <label><strong>Modelo : &nbsp;</strong></label>
                                <label>{{model}}</label>
                                <br>

                                <label><strong>Ingreso : &nbsp;</strong></label>
                                <label>{{admissionDate}}</label>
                                <br>

                                <label><strong>Tecnico responsable : &nbsp;</strong></label>
                                <label>{{technician}}</label>
                                <br>
                            </div>
                        </div>
                        <hr>
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col" *ngFor="let title of titles">
                                        {{title}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let detail of details">
                                    <td *ngFor="let key of objectKeys(detail)">
                                        <label id="{{detail[key]}}">{{detail[key]}}</label>
                                    </td>                              
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div class="d-flex justify-content-between align-items-center">
                    <button type="button" class="btn btn-danger mt-3 ml-3" (click)="reject()">Rechazar cotización</button>
                    <button type="button" class="btn btn-success mt-3 mr-3" (click)="accept()">Aceptar cotización</button>                    
                </div>
            </div>
        </div>
    </div>
</div>