<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body text-center">
                <div>
                    <h3 class="text-center">Cotización</h3>
                </div>
                <div>
                    <label for="">{{detailsQuotation}}</label>
                    <br>
                </div>
                <div>
                    <button type="button" class="btn btn-success mt-3 mr-3" (click)="accept()">Aceptar</button>
                    <button type="button" class="btn btn-danger mt-3 ml-3" (click)="reject()">Rechazar</button>
                </div>
            </div>
        </div>
    </div>
</div>