<div class="col-md-6 mx-auto mt-5">
   <div class="card">
      <div class="container"> 
         <h2 class="text-center mt-4"> Área de trabajo</h2>
         <hr>
         <label for="">Actualizar información del cliente:</label>
         <div class="input-group">
            <input id="dni" type="text" class="form-control" placeholder="Ingresé el número de identificación" >
            <div class="input-group-append">
              <button class="btn btn-dark btn-sm" type="button" (click)="editeOwner()">Actualizar</button>
            </div>
          </div>
         <br>
         <!-- <div class="row mt-5">
            <button class="btn btn-dark btn-sm ml-4" routerLink="/mechanic/vehicle/create">Agregar Vehículo</button>
         </div> -->
         
         <br>
        
         <label for="">Editar información de un vehículo:</label>
         <div class="input-group">
            <input id="placa" type="text" class="form-control" placeholder="Ingresé la placa del vh">
            <div class="input-group-append">
              <button class="btn btn-dark btn-sm" type="button" (click)="editeVehicle()">Editar vh</button>
            </div>
          </div>
         <br>
         <label for="">Actualizar estado de un vehículo:</label>
         <div class="input-group mb-4">
            <input id="placaId" type="text" class="form-control" placeholder="Ingresé la placa del vh">
            <div class="input-group-append">
               <!-- Button trigger modal -->
              <button class="btn btn-dark btn-sm" type="button"  data-toggle="modal" (click)="getModal()" data-target="#stateModal">Actualizar</button>
            </div>
         </div>
         <div class="d-flex justify-content-between align-items-center">
               <button class="btn btn-danger ml-3" [routerLink]="['/profile']">Volver</button>    
               <button class="btn btn-warning" [routerLink]="['/mechanic/owner/create']">Registrar cliente nuevo</button>
         </div>
         <br>
         <!-- Modal -->
         <div *ngIf="status==1" class="modal fade" id="stateModal" tabindex="-1" role="dialog" aria-labelledby="stateModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="stateModalLabel">Modificar estado</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <label for="state"><strong>Seleccione el estado de vehículo</strong></label>
                  <br>
                  <select class="custom-select mr-sm-2" name="stateOfVehicle" id="state" required="true">
                     <option *ngFor="let state of stateOfVehicle" id="{{state}}">{{state}}</option>
                  </select>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
                  <button type="button" class="btn btn-primary" (click)="updateVehicleStatus()">Actualizar</button>  
               </div>

            </div>
            </div>
         </div>
        </div>     
    </div>    
</div>
