<div class="col-sm-12 mx-auto mt-5">
    <div class="card">
        <div class="container">
            <h3 class="text-center mt-4 text-uppercase">Área de trabajo del asistente de recursos humanos</h3>
            <hr>
            <form action="">
                <div class="form-group text-center">
                    <h4>Información necesaria para dar de alta a empleados</h4>
                    <label for="_id"><strong>Número de identificación</strong></label>
                    <input formControlName="_id" type="text" class="form-control" id="_id" placeholder="Ingrese el número de identificación del empleado" required="true">
                    <br>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <button type="reset" class="btn btn-warning">Limpiar campo</button>
                    <button class="text-center btn btn-success" type="submit">Dar de alta al empleado</button>
                </div>                
                <hr>
            </form>
        </div>
    </div>
</div>
