<div class="col-sm-12 mx-auto mt-5">
    <div class="card">
        <div class="container">
            <h3 class="text-center mt-4">Área de trabajo del asistente de recursos humanos</h3>
            <hr>
            <form action="">
                <div class="form-group text-center">
                    <h4 class="text-uppercase">Información necesaria para dar de alta a empleados</h4>
                    <label for="_id"><strong>Número de identificación</strong></label>
                    <input formControlName="_id" type="text" class="form-control" id="_id" placeholder="Ingrese el número de identificación del empleado" required="true">
                    <br>
                </div>
                <button class="col text-center btn btn-success" type="submit">Dar de alta al empleado</button>
                <hr>
            </form>
        </div>
    </div>
</div>
