<div class="col-sm-6 mx-auto mt-5">
    <div class="card">
        <div class="container  text-center">
            <h3 class="mt-4 text-uppercase">Perfil {{fname}} {{lname}}</h3>
            <hr>
            <form (ngSubmit)="uploadProfile()">
                    <div class="form-group">
                            <input type="file" class="form-control d-none" (change)="onPhotoSelected($event)" #photo id="photo" name="photo">
                            <img [src]="photoSelected || '../../../../assets/icono-hombre.png'" alt="icono" class="icono" (click)="photo.click()">   
                            <br>                            

                            <label for="fname"><strong>Nombre</strong></label>
                            <input type="text" [(ngModel)]="employee.fname" class="form-control" name="fname" id="fname" required="true">
                            <br>   

                            <label for="lname"><strong>Apellidos</strong></label>
                            <input type="text" [(ngModel)]="employee.lname" class="form-control" name="lname" id="lname" required="true">
                            <br>

                            <label for="cellphone"><strong>Celular</strong></label>
                            <input type="tel" [(ngModel)]="employee.cellphone" class="form-control" name="cellphone" id="cellphone" required="true">
                            <br>

                            <label for="landline"><strong>Telefono</strong></label>
                            <input type="tel" [(ngModel)]="employee.landline" class="form-control" name="landline" id="landline" required="true">
                    </div>
                <div class="d-flex justify-content-between align-items-center">
                    <a class="btn btn-danger" routerLink="/employee-profile/1040050070">Cancelar actualizacion</a>
                    <button class="btn btn-success" type="submit">Actualizar perfil</button>
                </div> 
            </form>            
            <hr>
        </div>
    </div>
</div>
