<div class="col-sm-12 mx-auto mt-5">
    <div class="card">
        <div class="container">
            <h3 class="mt-4 text-uppercase text-center">Actualizar mi perfil</h3>
            <hr>
            <form #updateEmployeeForm="ngForm" (ngSubmit)="updateEmployee(updateEmployeeForm.value)">
                <div class="form-group">
                    <h3 class="text-center">Mi perfil</h3>
                    <hr>
                    <div class="form-group">
                            <label for="email"><strong>Email</strong></label>
                            <input type="email" [(ngModel)]="employee.email" class="form-control" name="email" required="true">
                            <br>
                            <label for="fname"><strong>Nombre</strong></label>
                            <input type="text" [(ngModel)]="employee.fname" class="form-control" name="fname" required="true">
                            <br>   

                            <label for="lname"><strong>Apellidos</strong></label>
                            <input type="text" [(ngModel)]="employee.lname" class="form-control" name="lname" required="true">
                            <br>

                            <label for="cellphone"><strong>Celular</strong></label>
                            <input type="tel" [(ngModel)]="employee.cellphone" class="form-control" name="cellphone" required="true">
                            <br>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <a class="btn btn-danger" routerLink="/employee-profile">Cancelar actualizacion</a>
                    <button class="btn btn-success" type="submit">Actualizar perfil</button>
                </div> 
            </form>            
            <hr>
        </div>
    </div>
</div>
