<div class="col-sm-12 mx-auto mt-5">
    <div class="card">
        <div class="container">
            <h3 class="text-center mt-4">Actualización de información</h3>
            <hr>
            <h6>AQUI DEBERÍA CARGAR LA INFORMACIÓN DEL PERFIL DEL EMPLEADO</h6>
            <div class="d-flex justify-content-between align-items-center">
                <button class="btn btn-danger" [routerLink]="['/employee-profile']">Cancelar</button>
                <button class="btn btn-success" [routerLink]="['/employee-profile']">Actualizar perfil</button>
            </div>
            
            <hr>
        </div>
    </div>
</div>
