<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body text-center">
                <h2 class="text-center mt-3">Estados actuales de los vehículos</h2>
                <form>
                    <p class="text-center mt-4">Ingrese a continuación la identificación del vehículo del cuál
                        desea conocer su información respectiva.</p>
                    <div class="input-group mt-4">
                        <input id="placa" class="form-control" placeholder="Placa del Vehiculo">
                        <div class="input-group-append">
                          <button type="button" class="btn btn-outline-primary btn-sm" (click)= "getData()">Buscar</button>
                        </div>
                    </div>
                    <br>
                    <br>
                    <ul *ngIf="vehicleState">
                        <p class="mx-auto"> El vehículo con placa <strong>{{placa}}</strong> se encuentra
                            <strong>{{vehicleState}}</strong></p>
                        <div class="text-center" *ngIf="authorization=='pendiente' ; else otro">
                            <h3 class="text-center">Aprobación de reparación</h3>
                            <button class="btn btn-primary" [routerLink]="['/quotation/',placa]">Ver Cotizacion</button>
                        </div>
                        <br>
                    </ul> 
                    <ng-template #otro>
                        <h3 class="text-center">Aprobación de reparación</h3>
                        <p>Ya ha sido <strong>{{authorization}}</strong> la cotización</p>
                    </ng-template>
                </form>
            </div>
        </div>
    </div>
</div>
