<br>
<div class="card col-md-8 mx-auto">
    <div class="row">
        <div class="col-md-6 mx-auto mt-5">
            <form [formGroup]="formOwner" (ngSubmit)="registerOwner(formOwner.value)">
                <div class="form-group">
                    <h3>Información del cliente.</h3>
                    <br>
                    <label for="_id"><strong>Número de identificación</strong></label>
                    <input formControlName="_id" type="text" class="form-control" id="_id"
                        placeholder="Ingresé el número de identificación del cliente" require="true">
                        <br>
                    
                    <div *ngIf="formOwner.get('_id').hasError('required') && formOwner.get('_id').touched">Ingresa el número de identificación</div>
                        <br>
                    
                    <label for="fname"><strong>Nombres</strong></label>
                    <input  formControlName="fname" type="text" class="form-control" id="fname" 
                        placeholder="Nombres del propietario" required="true">
                        <br>
            
                    <label for="lname"><strong>Apellidos</strong></label>
                    <input formControlName="lname" type="text" class="form-control" id="lname" 
                        placeholder="Apellidos del propietario" required="true">
                        <br>
            
                    <label for="cellphone"><strong>Celular</strong></label>
                    <input formControlName="cellphone" type="number" class="form-control" id="cellphone"
                        placeholder="Celular del propietario" required="true">
                        <br>
            
                    <label for="landline"><strong>Telefono fijo</strong></label>
                    <input formControlName="landline" type="number" class="form-control" id="landline"
                        placeholder="Telefono fijo del propietario">
                        <br>
            
                    <label for="email"><strong>Email</strong></label>
                    <input formControlName="email" type="email" class="form-control" id="email" 
                        placeholder="Email del propietario" required="true">

                    <div *ngIf="formOwner.get('email').hasError('email') && formOwner.get('email').touched">Email invalido.</div>
                        <br>
                    
                    <label for="vehicles"><strong>Placa de vehículo</strong></label>
                    <input formControlName="vehicles" type="text" class="form-control" id="vehicles" required="true" placeholder="Placa de vehículo(s) del propietario" >
                            <button [disabled]="true" type="button" id="addVehicle"
                                class="btn btn-primary btn-sm">Agregar otro vehículo</button>
                        <hr>
                    
                    <!--
                    <label for="vehicles"><strong>Placa de vehículo</strong></label>
                        <input formControlName="vehicles" type="text" #newPlaca (keyup.enter)="addPlaca(newPlaca.value)" (blur)="addPlaca(newPlaca.value); newPlaca.value='' " class="form-control" placeholder="Placa del vehículo" id="vehicles", required="true">
                            <span class="input-group-btn">
                                <button (click)="addPlaca(newPlaca.value)" class="btn btn-primary btn-add">Agregar vehículo</button>
                            </span>
                            <ul class="list-group list-group-flush col-5">
                                <div class="text-center">
                                    <li class="mt-2 list-group-item mb-2" *ngFor="let placa of placas">{{placa}}<button class="btn btn-danger btn-sm mt-2" (click)="removePlaca()">Eliminar</button></li>                                                       
                                </div>                                          
                            </ul>-->                                        
                        <hr>
                    <button [disabled]="formOwner.invalid" type="submit" class="btn btn-success btn-sm">Registrar</button>
                    <button type="submit" class="btn btn-danger btn-sm ml-5">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
