<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body text-center">
                <div>
                    <h3 class="text-center text-uppercase">Perfil del mecanico</h3>
                    <br>
                    <br>
                    <button type="button" class="btn btn-success mt-3 mr-3" [routerLink]="['/employee-profile/edit']">Editar perfil</button>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <div>
                    <label for="">Area de trabajo</label>
                    <br>
                    <button type="button" class="btn btn-success mt-3 mr-3" [routerLink]="['/tasks']">Tareas</button>
            </div>
        </div>
    </div>
</div>